.countryMealsList {
    @include flex(center, center, column);
    padding-top: 50px;
    padding-bottom: 50px;
    &__title {
        @include text($h32, 700, $text-color);
        margin-bottom: 30px;
    }
    &__list {
        width: 100%;
        @include flex(space-between, start, $wrap: wrap);
    }
    &__list-item {
        @include flex(center, center, column);
        padding-bottom: 30px;
        cursor: pointer;
    }
    .ant-card {
        margin-bottom: 30px;
    }
    .ant-card-bordered {
        border: 5px solid $main-color;
    }
    &__list-item-title {
        @include text($h28, 400, $text-color);
        max-width: 240px;
        text-align: center;
    }
}