//Fonts
$font-lato: "Lato",
sans-serif;
$font-cookie: "Cookie",
cursive;
//colors
$bg-header: #262626;
$main-color: #e1b838;
$text-color: #b99730;
$bg-footer: #20201c;
//fonts-size
$h80: 80px;
$h32: 32px;
//img-flags
$American: "../assets/flags/American.png";