//Fonts
$font-lato: "Lato",
sans-serif;
$font-cookie: "Cookie",
cursive;
//colors
$white: #ffffff;
$black: #000000;
$bg-header: #414141;
$main-color: #e1b838;
$text-color: #b99730;
$gradient: rgba(77, 70, 55, 0.35);
$gradient-light: rgba(61, 35, 0, 0.2);
$bg-footer: #20201c;
//fonts-size
$h80: 80px;
$h60: 60px;
$h32: 32px;
$h28: 28px;
//img-flags
$American: "../assets/flags/American.png";